.addUserDialog {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 32px;
}

.dialogButton {
    padding-left: 32px;
    padding-right: 32px;
    display: flex;
    justify-content: space-between;
}