.addUserDialog {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 32px;
    position: relative;

    mat-progress-bar {
        position: absolute;
        top: 0;
        left: 0;
    }

    mat-icon {
        color: #75FB4C;
        position: absolute;
        top: 38px;
        right: 32px;
    }
}

.dialogButton {
    padding-left: 32px;
    padding-right: 32px;
    display: flex;
    justify-content: space-between;
}

.inputError {
    &::placeholder {
        color: red !important;
    }
}
