<mat-card class="cardHead">
    <img src="/user_2.png" alt="">
    <mat-icon (click)="closeUserDetail()">arrow_back</mat-icon>
    <div class="userInfo" *ngIf="userInfo">
        <h2>{{ userInfo.firstName }} {{ userInfo.lastName }}</h2>
        <p>email</p>
    </div>
</mat-card>

<mat-card class="cardData" *ngIf="userInfo">
    <div>
        <h3>Address</h3>
        <p>{{ userInfo.street }}</p>
        <p>{{ userInfo.zipCode }}</p>
        <p>{{ userInfo.city }}</p>
    </div>
    <mat-icon (click)="openEditDialog()">edit</mat-icon>
</mat-card>